<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="5.0">
  <display-name>orgms</display-name>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.orgms.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

<servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>com.orgms.servlet.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/login</url-pattern>
</servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.orgms.servlet.LoginServlet</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.orgms.servlet.LogoutServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.orgms.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employees</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.orgms.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/customers</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>com.orgms.servlet.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/projects</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TimesheetServlet</servlet-name>
    <servlet-class>com.orgms.servlet.TimesheetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimesheetServlet</servlet-name>
    <url-pattern>/timesheets</url-pattern>
  </servlet-mapping>

</web-app>
